@font-face {
  font-family: futura;
  src: url("../public/fonts/Futura\ Std\ Book.ttf") format("truetype");
}
@font-face {
  font-family: futura-bold;
  src: url("../public/fonts/Futura\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: futura-black;
  src: url("../public/fonts/Futura\ Std\ Heavy.ttf") format("truetype");
}
@font-face {
  font-family: futura-thin;
  src: url("../public/fonts/Futura\ Thin.ttf") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: futura, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
#mainContainer {
  margin: auto;
  max-width: 1920px;
  z-index: 1;
  padding: 150px 1.5rem 90px 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: row;
}
.project {
  width: 65px !important;
  height: 65px !important;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  max-width: calc(20% - 10px) !important;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 767px) {
  .project {
      width: 20%;
      height: 50px;
  }
}
.col {
  flex: 1;
  position: relative;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 10px 50px 10px;
  min-width: 33.33%;
}
.col:first-child {
  border-left: 1px solid #000;
}
.title {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid #000;
}