@font-face {
  font-family: futura;
  src: url("../public/fonts/Futura\ Std\ Book.ttf") format("truetype");
}
@font-face {
  font-family: futura-bold;
  src: url("../public/fonts/Futura\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: futura-black;
  src: url("../public/fonts/Futura\ Std\ Heavy.ttf") format("truetype");
}
@font-face {
  font-family: futura-thin;
  src: url("../public/fonts/Futura\ Thin.ttf") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: futura, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
#mainContainer {
  position: relative;
  margin: auto;
  max-width: 1920px;
  z-index: 1;
  padding: 150px 1.5rem 90px 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: row;
}