.dropdown {
    position: relative;
    width: 100%;
}
.dropdownTitle {
    display: flex;
    align-items: center;
    position: relative;
}
.dropdownTitle span {
    color: inherit;
    font-size: inherit;
    padding-right: 20px;
}
.dropdownVariableHeight {
    position: relative;
    overflow: hidden;
}
.heightContainer {
    padding: 15px 0 15px 30px;
}