.progetti {
    position: relative;
}
.mobileProjectWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width: 767px) {
    .progetti {
        width: 100%;
    }
}