.project {
    width: 65px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    overflow: visible;
    display: inline-block;
    margin-bottom: 10px;
    max-width: calc(20% - 10px);
}
.project img {
    width: 100%;
    display: block;
}