.col {
    flex: 1;
    position: relative;
    border: 1px solid #000;
    padding-bottom: 50px;
    overflow: scroll;
}
.title {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-family: futura-bold;
    text-align: center;
    border-top: 1px solid #000;
}