.scrollBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    height: 4px;
    background: #141414;
    transition: width .15s ease;
}
@media screen and (max-width: 767px) {
    .scrollBar {
        display: none;
    }
}